/* ==========================================
   Z Index Scale
========================================== */
/* 
:root{

    --z-dropdown:1000;

    --z-sticky:1020;

    --z-fixed:1030;

    --z-sidebar:1040;

    --z-navbar:1050;

    --z-overlay:1060;

    --z-modal:1070;

    --z-toast:1080;

    --z-tooltip:1090;

    --z-loader:1100;

} */